body {
    background-image: url("/wallpaper.webp");
    background-size: cover;
}

@media (max-width: 850px) {
    body {
        background-position: center center;
    }
    html {
        height: 100%;
    }
}